@media screen and (max-width:600px) {


    .pre-nav {
        margin: 0 auto;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 600px;
        font-size: 1rem;
        margin-bottom: 5%;
    }

    .time {
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        left: 6%;
    }


    .nav {
        flex-direction: column;
        justify-content: left;
        margin-bottom: 5%;
    }

    .nav .left {
        gap: 10px;

    }

    .nav .left .text {
        gap: 10px;
    }

    .nav .left .img {
        width: 30px;
        position: relative;
        right: 40%;
    }

    .nav .left .text .first {
        font-size: 1.25rem;
        position: relative;
        right: 60%;
    }

    .nav .left .text .last {
        font-size: 1.25rem;
        position: relative;
        right: 60%;
    }

    .menu {
        width: 24px;
        display: inline;
        position: relative;
        left: 38%;
    }

    .nav .right {
        display: none;
    }
}