@media screen and (max-width:600px) {


    .pre-nav {
        margin: 0 auto;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 600px;
        font-size: 1rem;
        margin-bottom: 5%;
    }

    .time {
        font-size: 1rem;
        font-weight: 600;
        /* position: relative;
        left: 6%; */
    }


    .nav {
        width: 80%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        /* justify-content: ; */
        margin-bottom: 2.5%;
    }

    .nav .left {
        gap: 10px;

    }

    .nav .left .text {
        gap: 10px;
    }

    .nav .left .img {
        width: 30px;
        /* position: relative;
        right: 40%; */
    }

    .nav .left .text .first {
        font-size: 1.25rem;
        /* position: relative;
        right: 60%; */
    }

    .nav .left .text .last {
        font-size: 1.25rem;
        /* position: relative;
        right: 60%; */
    }

    .menu {
        width: 24px;
        display: inline-flex;
        /* position: absolute; */
        /* position: relative;
        left: 38%; */
    }

    .nav .right {
        display: none;
    }

    .banner .container {
        width: 90%;
        margin: 0 auto;
        max-width: 600px;
        height: 400px;
    }


    .banner .container .title h1 {
        padding: 0;
        font-size: 2rem;
        margin-bottom: 10px;

    }

    .banner .container .input-btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .tours .container {
        flex-direction: column;
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }

    .tours .container .text-btn h2 {
        font-size: 1.25rem;
    }

    .tours .container .text-btn .btn {
        margin-bottom: 25px;
    }

    .tours .container .text-btn .bottom-p {
        margin-bottom: 0%;
    }

    .destination {
        margin-top: 5%;
    }

    .destination .container {
        width: 80%;
    }

    .destination .container .text {
        margin-bottom: 5%;
    }

    .destination .container .text h1 {
        font-size: 1.25rem;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .destination .container .img .content {
        width: 100%;
    }

    .destination .container .img .content h2 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .destination .container .img {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        height: 1600px;
    }

    .destination .container .img .maldi {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .destination .container .img .indo {

        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .destination .container .img .srila {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }

    .destination .container .img .north-am {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }

    .destination .container .img .kash {
        grid-column: 1/span 1;
        grid-row: 4/span 1;
        background-size: 100%;
    }

    .destination .container .img .bangla {
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }

    .destination .container .img .bandar {
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }

    .choose .container .title h1 {
        font-size: 1.25rem;
    }

    .choose .container {
        width: 80%;
        max-width: 600px;
    }

    .choose .container .detail .card {
        width: 100%;
        margin-bottom: 50px;
    }

    .choose .container .detail h2 {
        font-size: 1.25rem;
    }

    .deals .container .content {
        height: 500px;
        background-size: auto;
        object-fit: cover;
    }

    .deals .container .content .info {
        width: 80%;
    }
}