/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: Mulish;
}

img {
    width: 100%;
    height: 100%;
}

/* header nav styles */
.pre-nav {
    display: none;
}

.nav {
    margin: 0 auto;
    margin-top: 3%;
    width: 90%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .left {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.nav .left .img {
    width: 50px;
}

.nav .left .text {
    display: flex;
    gap: 15px;
}

.nav .left .text .first {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav .left .text .last {
    color: #FF5400;
    ;
    font-size: 2.25rem;
    font-weight: 800;
}

.menu {
    display: none;
}

.nav .right {
    display: flex;
    gap: 44px;
}

.nav .right a {
    color: #424247;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav .right .home {
    color: #FF5400;
}

.banner {
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5%;
    padding: 5%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}

.banner .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    background-image: url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.banner .container .title h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner .container .title p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.banner .container .input-btn {
    margin: 0 auto;
    display: flex;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner .container .input-btn input {
    padding: 10px;
    border-radius: 10px;
    color: rgba(19, 19, 24, 0.50);
}

.banner .container .input-btn .btn {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    background: #FF5400;
    padding: 10px 20px;
}